

.container{
  height: 100vh;
  color: #fff;
}

.titulo{
  font-size: 2rem;
  text-align: center;
  font-family: 'Karla', sans-serif;
  letter-spacing: 5px;
}


.titulo h1::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 30%;
  left: 35%;
  bottom: 80%;
  text-align: center;
  background-color: brown;
}


.listaTodosContainer{
  display: flex;
  margin-top: 50px;
  row-gap: 25px;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 15px;
}